<header class="bg-gray-800 text-white p-4 mt-2 hover: b">
    <h1 class="text-left text-2x9">Gamota Support</h1>
    <div class="text-right mt-2">
        <!-- <p class="text-sm">Logged in as: <span class="font-bold">username_here</span></p> -->
    </div>
</header>
