<a href="/sup-acc" class="block border border-gray-300 rounded-lg text-center hover">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 p-6 bg-blue-500 text-white rounded cursor-pointer">
        <div class="flex items-center justify-center">
            <div class="text-5xl">&#128100;</div>
        </div>
        <p class="mt-4 text-center flex items-center justify-center">Hỗ Trợ Tài Khoản</p>
    </div>
</a>
