<header class="bg-blue-600 text-white py-6">
    <div class="max-w-6xl mx-auto flex justify-between items-center px-6">
        <div class="flex items-center">
            <img src="/img/logo.png" alt="Gamota Logo" class="h-10 mr-4 rounded-full">
            <h1 class="text-2xl font-bold">Gamota</h1>
        </div>
        <nav class="space-x-6">
            <a href="/" class="hover:text-gray-300">Trang Chủ</a>
            <a href="#" class="hover:text-gray-300">Sản Phẩm</a>
            <a href="#" class="hover:text-gray-300">Tin Tức</a>
            <a href="/submit_ticket" class="hover:text-gray-300">Liên Hệ</a>
        </nav>
        <div class="flex items-center" id="auth-links">
            <% if (userData) { %>
                <a id="logout-link" href="/logout" class="mr-6 hover:text-gray-300">Đăng Xuất</a>
            <% } else { %>
                <a id="login-link" href="/login" class="mr-6 hover:text-gray-300">Đăng Nhập</a>
            <% } %>
        </div>
    </div>
</header>
